p{
    color: #4E6B2F;
    padding: 0.5em;
    clear: left;
}
p::first-letter{
	font-size: 4em;
    float: left;
    border:5px #5D7915 groove;
    border-top-right-radius: 65%;
    border-bottom-left-radius: 65%;
    background-color: #80FF00;
    padding-right: 23px;
    padding-left: 23px;
    padding-bottom: 11px;
    padding-top: 11px;
    border-color: #9CCA33;
    margin-right: 10px;
}

p:last-of-type{
    color: #FFC0CB;;
}

p:last-of-type::first-letter{
    background-color: #FFC0CB;
    color: #8B0390;
    float: left;
    border: 5px #AA4577 groove;
    border-color: #F977BA;
}

/*
2. Cambios que se han ido realizando a lo largo de los 
distintos tipos de CSS (CSS2 y CSS3), pero en resumen, es para diferenciar 
entre pseudo-clases : y pseudo-elementos ::

3. No se puede porque la sintaxis no deja, tiene ciertas 
restricciones/limitaciones con los pseudo-elementos, y en este caso
no deja establecer el width

4. Sí se puede -> p:last-of-type::first-letter

5. 
/*