img{
    position: fixed;
    left: 0; 
    top: 10%;   
}

p::first-letter{
    border: 1px black solid;
    float: left;
    font-size: 3em;
    margin-right: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

p, h1{
    margin-left: 10em;
}