
<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Incicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/favs">Favoritos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/query">Buscador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/thank">Agradecimientos</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
