{# menu/cuadro_medico.html.twig' #}

{% extends 'principal.html.twig' %}
{% block menu %}
    {{ render(controller('App\\Controller\\MenuController::menu')) }}
{% endblock %}

{% block contenido %}
    <br>
    <h1>LISTADO DE MEDICOS</h1>
    {% for especialidad, medicos in medico_especialidad %}
        <h4>{{especialidad}}</h4>
        {% for medico in medicos %}
            <li>
                {{medico.nombre}}
            </li>
        {% endfor %}
    {% endfor %}
{% endblock %}
