{# alberto/cursos.html.twig' #}

<h1>LISTADO DE CURSOS</h1>
    {% for curso in cursos %}
        <ul>
            <li>
                <a href="{{ path('asignaturas', {'id': curso.id}) }}">{{ curso.curso }}</a>
                {#<a href="{{ curso.id }}">{{curso.curso}}</a>#}
            </li>
        </ul>
    {% endfor %}
