<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    /*max-width: 960px;*/
    flex-direction: column;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Angular</span>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
      </svg>
    </a>
</div>

<!-- Contenido body -->
<div class="content" role="main">
  <div class="container">
		<div class="row">
			<div class="col-lg-2">
        <img src="../assets/img/logo.png">
      </div>

      <div class="col-lg-8" id="titulo">
        <h1> EV - Tu base de datos de vehículos eléctricos</h1>
      </div>

      <div class="col-lg-2">
        <button (click)="cambiarVista()">Cambiar Vista</button>
        <p>Vista actual: {{vistaBigCard}}</p>
      </div>
    </div>
    
		<div class="row">
			<div class="col-lg-3">
				<table class="table table-striped">
					<thead class="thead-light">
						<tr><th>MODELO</th></tr>
					</thead>
					<tbody>
						<tr><td>
							<div class="form-group">
								<input type="text" class="form-control" id="modelo" placeholder="Nombre del modelo">
							</div>
						</td></tr>
					</tbody>
        </table>
        
				<table id="fabFilters" class="table table-striped">
					<thead class="thead-light">
						<tr><th>FABRICANTE</th></tr>
					</thead>
					<tbody>
						<tr><td>
							<div class="form-group">
								<label for="fabList">Elige un fabricante</label>
								<select class="form-control" id="fabList">
									<option value="0">(Elige un fabricante)</option>
									<!-- RELLENAR CON UN LISTADO DE TODOS LOS FABRICANTES -->
								</select>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="fab1" checked>
								<label class="form-check-label" for="fab1">Fabricante1</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="fab2" checked>
								<label class="form-check-label" for="fab2">Fabricante2</label>
							</div>
						</td></tr>
					</tbody>
        </table>
        
				<table id="tecFilters" class="table table-striped">
					<thead class="thead-light">
						<tr><th>TECNOLOGÍA</th></tr>
					</thead>
					<tbody>
						<tr><td>
							<div class="form-group">
								<label for="techList">Elige una tecnología</label>
								<select class="form-control" id="techList">
									<option value="0">(Elige una tecnología)</option>
									<!-- RELLENAR CON UN LISTADO DE TODOS LAS TECNOLOGÍAS -->
								</select>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="tec1" checked>
								<label class="form-check-label" for="tec1">Tecnología1</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="tec2" checked>
								<label class="form-check-label" for="tec2">Tecnología2</label>
							</div>
						</td></tr>
					</tbody>
				</table>
				<button class="btn btn-primary" id="resetFilters">Borrar filtros</button>
			</div>
      
      <div id="modelos" class="col-lg-9">
				<div class="row row-cols-md-5">
          <!--RELLENAR CON UN LISTADO DE TODOS LOS MODELOS-->
          <ng-container *ngIf="vistaBigCard">
            <app-car-card *ngFor="let coche of coches" 
            [cocheparam]="coche"></app-car-card>  
          </ng-container>

          <ng-container *ngIf="!vistaBigCard">
            <app-car-row *ngFor="let coche of coches" 
            [cocheparam]="coche"></app-car-row>  
          </ng-container>
				</div>
      </div>
      
		</div> <!-- .row -->
	</div> <!-- .container -->
</div><!-- .content -->
