{# plantilla/prueba.html.twig' #}
{% extends 'plantilla/default.html.twig' %}
{% block contenido %}
<h1>productos</h1>

<table>
    <tr>
	<td>Nombre</td>
	</tr>
	{% for producto in productos %}
        <tr>
		<td>{{ producto.name }}</td>
		<td>{{ producto.price }}</td>
		<td>{{ producto.description }}</td>
		</tr>
    {% endfor %}
</table>


{% endblock %}
{% block right %}
{% include 'plantilla/derecha.html.twig'%}
{% endblock %}