*{
	margin: 0;
	padding: 0;
}

body{
	width: 80%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
}

div {
	width: 20%;
	height: 200px;
	color: white;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid blue;
}

div#cubo1{
	background-color: coral;
	order: -1;
}

div#cubo2{
	background-color: darkgoldenrod;
	order: 1
}

div#cubo3{
	width: 60%;
	background-color: chocolate;
	order: 0;
}

div#cubo4{
	background-color: darkmagenta;
	width: 100%;
	order: 2;
}