*{
	margin: 0;
	padding: 0;
}

body{
	width: 1000px;
}

div {
	width: 200px;
	height: 200px;
	color: white;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid blue;
}

div#cubo1{
	background-color: coral;

}

div#cubo2{
	background-color: darkgoldenrod;

}

div#cubo3{
	width: 600px;
	background-color: chocolate;

}

div#cubo4{
	background-color: darkmagenta;

	width: 100%;
}